<ul>
  <h4>About</h4>
  <hr>
  <li>{{movie.title}}</li>
  <li>Synopsis: {{movie.synopsis}}</li>
  <li>Year: {{movie.year}}</li>
  <li>Director: {{movie.director}}</li>
  <li>Main Actors:
    <ul>
      <li *ngFor="let actor of movie.actors">
        {{actor}}
      </li>
    </ul>
  </li>
  <img class="image" src="{{movie.poster}}">
</ul>
<hr>

<ul>

  <h4>Showtime</h4>
  <hr>
  <li>Room: {{movie.rooms}}</li>
  <li>Hours:
    <ul>
      <li *ngFor="let hour of movie.hours">
        {{hour}}
      </li>
    </ul>
  </li>
</ul>
<div id="back-button">
<a href="/home">Go Back</a>
</div>
